.search-container {
    max-width: 600px;
    margin: 0 auto;
}

.search-container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 30px;
    border: none;
    background: var(--main-color-100);
    color: var(--main-color-400);
}

.search-loading {
    text-align: center;
}

.suggested-books {
    margin-bottom: 2rem;
}

.suggested-books h3 {
    text-align: center;
    margin-bottom: 30px;
}

.suggested-books-item a {
    color: var(--main-color-100);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color-100);
}
.suggested-books-item .suggested-books-item-left {
    width: 20%;
}
.suggested-books-item .suggested-books-item-right {
    width: 70%;
    margin-left: 20px;
}